{% extends 'layout_categories.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="assets/js/equipment_categories.js"></script>
{% endblock %}
{% block title %}
    Equipment Categories
{% endblock %}

{% block body %}
    {{ parent() }} 
    <div id="categoriesDataTable"></div> 

    <div id="actionButtons">
        <button id="categoryAdd" type="button">New</button>                 
        <button id="categoryEdit" type="button">View/Edit</button>
        <button id="categoryDelete" type="button">Delete</button>
    </div>
{% endblock %}

