{% block closed_tickets %}
     <div id="closedTicketsPanel" class="ticketPanel" title="Closed Tickets for Category"> 
        <div id="closedTicketsDataTable"></div> 
        <div id="closedTicketsActionButtons" style="padding-top:10px;">            
            <button id="closedTicketView" type="button">View</button>                 
            <button id="closedTicketInteval" type="button">Recurrance</button>
        </div>
    </div>
{% endblock %}