
{% block open_tickets %}
    <div id="openTicketsPanel" class="ticketPanel" title="Open Tickets for Category"> 
        <div id="openTicketsDataTable"></div> 
        <div id="openTicketsActionButtons" style="padding-top:10px;">            
            <button id="openTicketView" type="button">View</button>                 
            <button id="openTicketInteval" type="button">Recurrance</button>
        </div>
    </div>
{% endblock %}