{% extends 'layout_categories.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="assets/js/recurring.js"></script>
{% endblock %}

{% block title %}
    Recurring Tickets
{% endblock %}

{% block pagetitle %}
    Recurring Tickets
{% endblock %}

{% block body %}
    {{ parent() }} 
    <form action="delete" method="post" id="deleteForm" id="classForm">
        <input type="hidden" name="{{tocken_name}}" value="{{tocken}}" />
        <input type="hidden" name="id" value="" />
    </form>
    <div id="recurringDataTable"></div> 

    <div id="actionButtons">
        <button id="recurringAdd" type="button">New</button>                 
        <button id="recurringEdit" type="button">View/Edit</button>
        <button id="recurringDelete" type="button">Delete</button>
    </div>
{% endblock %}

