
body {
    background:#eee;
    font-family:arial, helvetica, sans-serif;
    font-size:10pt;
    color:#000;
    margin:0;
    padding:0;
}

a {
    color:#184E81;
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
}

#container {
    width:960px;
    margin:0 auto 20px auto;
}

h2 {
    margin:0;
    padding:0;
    font-size:12pt;
    color:#0A568E;
}

h2 i {
    font-size:12px;
    top:-2px;
    position:relative;
    color:#0a0;
}

h2 span { color:#000; }

table { vertical-align:top; }

table.list {
    clear:both;
    background:#ccc;
    margin: 2px 0;
    border-bottom: 1px solid #ccc;
    font-family:arial, helvetica, sans-serif;
    font-size:10pt;
}

table.list caption {
    text-align:left;
    padding:5px;
    background:#929292;
    color:#fff;
    font-weight:bold;
}

table.list thead th {
    background-color:#eee;
    color:#000;
    text-align:left;
    vertical-align:top;
}

table.list th a {

    text-decoration:none;
    color:#000;
}

table.list tbody td {
    background:#fff;
    border:1px solid #fff;
    padding:1px;
    vertical-align:top;
}

table.list tbody td { background: #fff; padding: 1px; padding-left:2px; vertical-align: top; }
table.list tbody tr:nth-child(2n+1) td { background-color: #f0faff; }
table.list tbody tr:hover td { background: #ffe; }
table.list tbody tr:nth-child(2n+1):hover td { background: #ffd; }
/* row highlighting on hover + select */
table.list tbody tr:hover td, table.list tbody tr.highlight td {  background: #FFFFDD; }
/* disabled highlighting on nohover */
table.list tbody tr:hover td.nohover, table.list tbody tr.highlight td.nohover {}


table.list tfoot td {
    background:#eee;
    padding: 2px;
}

Icon {
    width: auto;
    padding-left:20px;
    background-position: left center;
    background-repeat: no-repeat;
    min-height: 16px;
    display: inline-block;
}


a.Icon {  background-repeat: no-repeat;}


a.Icon:hover {
    text-decoration: underline;
}

.Icon.newCategory { background-image: url(../images/new_category.png); }


#content {
    clear:both;
    border:1px solid #aaa;
    border-top:none;
    border-bottom:3px solid #bbb;
    padding:10px 10px 20px 10px;
    background:#fff;
}

#content a:not(.re-icon) {
    color:#184E81;
}

#footer {
    clear:both;
    padding:10px;
    text-align:center;
    font-size:9pt;
}
